*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --colorDark1 :  #112D4E;
    --colorDark2 :  #3F72Af;
    --colorLight1 :  #dbe2ef;
    --colorLight2 :  #f9f7f7;
}
body{
    background: hsla(210, 90%, 80%, 1);

    background: linear-gradient(90deg, hsla(210, 90%, 80%, 1) 0%, hsla(212, 93%, 49%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(210, 90%, 80%, 1) 0%, hsla(212, 93%, 49%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(210, 90%, 80%, 1) 0%, hsla(212, 93%, 49%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#fffff", endColorstr="#fffff", GradientType=1 );
}
.wrapper{
    width: 100vw;
    height: 100vh;
    color: white;
    font-family: sans-serif;
}

.tab_container h1{
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
}
.switch-tab{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 20PX;
}
.tab{
    border-radius: 4px;
    width: 150px;
    height: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.25px;
    
}

.tab.current-tab{
    background-color: rgba(162, 160, 160, 0.56);
    font-weight: 600;
}

.grantAccessContiner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.location.active{
    display: flex;
}

.location{
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
    color: white;
}

.location p:first-of-type{
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
}
.location p:last-of-type{
    letter-spacing: .75px;
    margin-top: 2px;
}
.location button{
    all: unset;
    margin-top: 20px;
    padding: 10px 12px;
    background-color: var(--colorDark2);
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 0.95rem;
    border: 1px solid rgba(255, 255, 255, 0.551);
    color: rgba(255, 255, 255, 0.95);
}


.formContainer.active{
    display: flex;
} 
.formContainer{
    display: none;
    max-width: 550px;
    width: 500px;
    justify-content: center;
    gap: 0 10px;
    margin-bottom: 3rem;
    margin-top: 30px;
    margin-left:80px;
}
.formContainer input{
    width: 500px;   
    height: 40px;
    all: unset;
    padding: 0 20px;
    background-color: rgba(162, 160, 160, 0.56);
    border-radius: 10px; 
    color: white;
    text-transform: capitalize;  
}

.formContainer input::placeholder {
    color: #dbe2ef;
    height: 80px;
    text-transform: none;
}


.formContainer button img{
    height: 40px;
    width: auto;
    background-color: #3F72Af;
    border: none;
    width: auto;
    cursor: pointer;
}
.formContainer input:focus{
    outline:3px solid rgba(255, 255, 255, 0.76);
}

.formContainer button{
    width: 40px;
    height: 40px;
    all: unset;
}
.formContainer .btn{
    width: 40px;
    height: 40px;
    background-color: unset;
}

.displayInfoContainer{
    display: none;
}
.displayInfoContainer.active{
    display: flex;
    margin-top: 30px;
}

.name{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.CityCountery{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.name p:first-child{
    font-size: 2.1em;
    color: white;
    font-weight: bold;
    margin-right: 12px;
}
.name p:nth-child(2){
    font-size:  1.8em;
    color: white;
    font-weight: 500;
    margin-right: 12px;
    margin-top: 12px;
    text-transform: capitalize;
}
.name .temp{
    font-size: 3.5em;
    color: white;
    font-weight: 700;
    margin-top: 15px;  
}

.ParameterContiner{
    display: flex;
    text-align: center;
    gap: 30px;
    margin-top: 30px;
    color: white;
}

.parameter{
    background-color:#8fb6fe60;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    width: 185px;
    text-align: center;    
}

.parameter p:first-of-type{ 
    font-size: 16px;
    font-weight:500;
    margin-bottom: 5px;
    margin-left: 8px;
}
.parameter p:last-of-type{ 
    font-size: 25px;
    font-weight:600;
    margin-top: 5px;
    margin-bottom: 5px;  
}

.loadingContainer{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.loadingContainer.active{
    display: flex;
}
.feel{
    padding: 8px 30px 8px 30px;
    border-radius: 5px;
    margin-top: 20px;
    border: 1px solid white;
    font-size: 18px;
}


@media screen and (max-width: 700px){
    body{
        background: rgba(2, 55, 107, 0.855);  
    }
    .ParameterContiner{
        display: flex;
        gap: 30px 350px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 3rem;
    }
    
}